//$bgColor: #2B2122; // ORIGINAL
$bgColor: #3c5d63;
$red: #478883;
$purple: #567370;

// FONTS
$dv : 'ClashDisplay-Variable';
$dsb : 'ClashDisplay-Semibold';
$dm : 'ClashDisplay-Medium';
$dl : 'ClashDisplay-Light';
$gv : 'ClashGrotesk-Variable';
