@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/********************************************* HOME PAGE *********************************************/

.background {
  padding:  0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(-45deg, #C2C2C2, #F8F8F8, #9B4DCA, #F28705, #E8D095, #F28705, #9B4DCA, #F8F8F8, #C2C2C2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  }



  
  .banner-section .stats-container {
    display: flex;
    position: relative;
    margin-top: 64px;
    justify-content: space-evenly;
    padding: 0px 15px;
  }

  .banner-section .stats-container .stats-section h2 {
    font-weight: 700;
    font-size: 36px;
  }
  
  .center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .banner-section .stats-container .stats-section h6 {
    font-size: 16px;
    font-weight: 400;
    color: #B0B0B0;
  }
  
  .banner-section .button-initial.button.one {
    background: rgb(25, 160, 40);
  }
  
  .banner-section .button-initial.button {
    background: transparent;
    border-radius: 6px;
    padding: 8px 15px;

    font-size: 14px;
    width: 170px;
    font-weight: 600;
    color: #0e0a0a;
    margin:0 10px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }
  
  .banner-section .button-initial.button:hover {
    background: #2dff7d;
    border: 1px solid #6868CC;
  }
  
  .banner-section .caption {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #FCFCFC;
  }
  
 .banner-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .banner-section .banner-heading span {
    color: #fff;
    font-weight: 800;
    font-size: 86px;
  }
  
  .banner-section .text {
    font-size: 20px;
    line-height: 140.9%;
    color: #26182e;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .banner-section .text span {
    display: block;
  }
  
  .banner-section .text-white {
    font-size: 16px;
    line-height: 175.9%;
    color: #e2e2e2;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  .banner-section .text-white span {
    display: block;
  }
  
.row {
    position: relative;
  }
  
  .banner-section .row .col-md-6.content {
    position: absolute;
    bottom: -100px;
    right: 0;
  }
  
  .banner-section .banner-buttons {
    display: flex;
  }
  
  .banner-section .banner-buttons .button {
    border-radius: 0px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    border: 0px solid;
    width: 144px;
    padding: 10px .75rem;
    box-shadow: none !important;
  }
  
  .banner-section .banner-buttons .terp {
    background: #6868CC !important;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #6868CC !important;
  }
  
  .banner-section .banner-buttons .terp p {
    margin: 0;
  }


  .aim-section {
    padding: 100px 0;
    background: #212126;
  }
  
  .aim-section .section-title {
    color: #FFFFFF;
  }
  
  .aim-section .img-section {
    display: flex;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 50px;
    position: relative;
  }

  .aim-section .img-section .square {
    position: absolute;
    right: 210px;
    top: 130px;
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
  }
  
  .aim-section .img-section .circle {
    position: absolute;
    bottom: 130px;
    right: 165px;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
  
  .aim-section .img-section .triangle {
    position: absolute;
    bottom: 270px;
    left: 70px;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .aim-section .features {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  
  .aim-section .img-section .square {
    position: absolute;
    right: 210px;
    top: 130px;
    -webkit-animation: float 4s ease-in-out infinite;
    animation: float 4s ease-in-out infinite;
  }
  
  .aim-section .img-section .circle {
    position: absolute;
    bottom: 130px;
    right: 165px;
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
  
  .aim-section .img-section .triangle {
    position: absolute;
    bottom: 270px;
    left: 70px;
    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .aim-section .features {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .aim-section .features .features-section .btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 25px;
    color: #fff;
    transition: all 0.3s;
    border-radius: 5px;
    background-color: #6868CC;
  }
  
  .aim-section .features .features-section .btn:hover {
    transform: translateY(-5px);
  }
  
  .aim-section .services-list {
    background: #27272C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .aim-section .services-list .serial {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: #35353D;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  
  .aim-section .services-list .serial p {
    margin: 0;
    font-size: 10px;
    color: #A5A5A5;
    font-family: 'Offside', cursive;
  }
  
  .aim-section .services-list .serviceBody {
    display: flex;
    align-items: center;
  }
  
  .aim-section .services-list .serviceBody .icon-section {
    padding-right: 50px;
  }
  
  .aim-section .services-list .serviceBody .icon {
    width: 35px;
    height: 35px;
    fill: #7F7F8E;
  }
  
  .aim-section .services-list:hover {
    background: #323239;
    transition: .5s ease;
  }
  
  .aim-section .services-list:hover .serial {
    background: #515257;
  }  


  .home-ecosystem-section {
    padding: 5px 0;
    }
    .home-ecosystem-section h3.section-title {
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    padding: 0;
    width: 770px;
    margin: auto;
    }
    .home-ecosystem-section h3.section-title .subt {
    display: inline;
    }
    .home-ecosystem-section h3.section-title .subt span {
    display: inline-block;
    line-height: 0.9;
    border-top: 5px solid #6868CC;
    }
    .home-ecosystem-section h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 131.4%;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 20px;
    }
    .home-ecosystem-section .sortbuttons {
    text-align: center;
    }
    .home-ecosystem-section .sortbuttons button.active {
    background: #6868CC;
    }
    .home-ecosystem-section .sortbuttons button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
    }
    .home-ecosystem-section .sortbuttons button {
    background: transparent;
    border-radius: 6px;
    border: 0;
    color: #FFFFFF;
    padding: 4px 15px;
    font-weight: 500;
    margin: 4px 15px;
    font-size: 15px;
    }
    .home-ecosystem-section .sub-heading {
    font-size: 24px;
    line-height: 175.9%;
    text-align: center;
    color: #1a1d05;
    font-weight: 400;
    word-break: break-word;
    margin: auto auto 70px auto;
    }
    .home-ecosystem-section .card-tiles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .home-ecosystem-section .card-tiles .card-group {
    margin-right: -15px;
    margin-left: -15px;
    }
    .home-ecosystem-section .card-tiles .card-group .card {
    background-color: transparent;
    border: 0;
    margin: 0 7.5px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section {
    width: 900px;
    margin: auto;
    background: linear-gradient(156.29deg,#1f2023 4.39%,rgba(19,20,22,.48) 84.74%);
    border-radius: 6px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body {
    padding: 40px 30px 30px 30px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon {
    position: absolute;
    left: 50%;
    margin-left: -61px;
    bottom: 30px;
    }
    .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon h6 {
    color: #484C53;
    font-size: 14px;
    font-weight: 500;
    }

    .symbol-section {
      display: flex;
      color: #fff;
      align-items: center;
    }
    .symbol-section:hover .imageshow {
      background-image: url(../public/buildontwo.svg);
      background: #000;
    }
    .symbol-section h5 {
      margin-bottom: 0;
      font-weight: 600;
      text-transform: uppercase;
    }
    .symbol-section .imageshow {
      width: 56px;
      height: 52px;
      background-image: url(../public/buildon.svg);
    }
    .symbol-section img {
      margin-right: 15px;
      width: 50px;
      height: auto;
    }
    
    .card-title.h5 {
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
    
    p {
      color: #BCBCBC;
      font-weight: 400;
      font-size: 16px;
    }
    p span {
      display: inline-block;
    }
    
    .button-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .networks {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .networks h5 {
      display: inline-flex;
      color: #fff;
      align-items: center;
    }
    .networks img {
      max-width: 50px;
      width: 100%;
      height: auto;
      margin: 0 10px;
    }
    
    img {
      max-width: 218px;
      width: 100%;
      height: auto;
    }
    

    .network-section {
      padding: 20px 60px 80px 20px;
      position: relative;
    }
    .network-section .gradient {
      position: absolute;
      z-index: -1;
      bottom: 40px;
    }
    
    .network-section .tech-box {
      display: flex;
      flex-direction: column;
    }

    .network-section .tech-box .content-container h2{
      font-size: 32px;
      text-align: center;
      width: auto;
      line-height: 1.3;
    }

    .button-section.cards-buttons{
      display: flex;
      justify-content: normal;
    }
    .button-section .cards-button {
      color: #181818;
    }
    .button-section .cards-button:hover {
      color: #6868CC;
    }